.div_content{
    display: flex;
    flex-direction: row;
    height:10px;
    width:100px;
    }
    .div-images{
        width:600px;
    }
    .div-images img{
        width:30px;
        height:20px;
    }
    .content-desc{
      margin-left:20px;
      margin-top:10px;
      font-family: Raleway;
      
    }
    .content-desc h3{
        margin-left: 10px;
        font-size: 27px;
        font-weight: 200;
    }
   h3 span .heading{
        margin-top:-10px;
        font-family: bold;
    }
    .content-desc h1{
        font-weight: bold;
        margin-bottom: 10px;
        margin-top:20px;
        margin-left:20px;

    }
    .content-desc button{
        padding:10px 40px;
        margin:50px 5px;
        color:#fff;
        font-size:16px;
        background-color:#0C3322 ;
        border-radius:10px;
        margin-bottom:60px;
    }
    .content-desc p{
        color:#737070;
        font-size: 12px;
        margin-left:20px;

    }
    .content-desc p span{
        font-weight:bold;
        font-size: 16px;
        color:#474747;
    }
    .headbar{
        background-color:#0C3322;
        display:flex;
        margin-top:34%;
        color:#fff;
        
    }
    ul{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    li{
        list-style-type: none;
        margin: 0px 90px;

    }
    
    @media only screen and (max-width:600px){
        .div_content{
            display: flex;
            flex-direction: column;
        }
        .div-images{
            width:100px;
        }
        .headbar{
            margin-top:270%;
        }
    }