.Image-style{
    width: 470px;
    height: 300px;
    opacity: 0.8;
}

.Product-Name{
    margin-left: 40px;
}

.Filter-Name{
    font-size: larger;
    align-items: center;
    margin-left: 40px;
    padding-left: 20px;
    width: 100px;
    height: 40px;
    border: 0.2px solid rgb(18, 18, 19);
}

.Card{
    margin: 30px;
    display: flex;
    flex-direction: row ;
    padding: 10px;
    border-radius: 10px;
    max-width: 100;
}

.AboutUs{
    margin-left: 100px;
    display: flex;
    flex-direction: row ;
    border-radius: 10px;
}

.Padding{
    margin-top: 20px;
    margin-bottom: 10px;
}

.low-bar{
    align-items: center;
    padding: 25px;
    background-color: rgb(3, 56, 31);
    color: white;
    font-size: larger;
}

.Checkbox{
    padding-left: 80px;
    padding-top: 20px;
    display: flex;
    flex-direction: row ;
    border-radius: 10px;
}

.Menubar{
    display: flex;
    flex-direction: row ;
    border-radius: 10px;
    margin-left: 40px;
}